* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100vh;
    position: relative;
}

div {
    position: relative;
    top: 50%;
    transform: translateY(-5%);
}

p {
    text-align: center;
    font-size: 5rem;
}

a {
    text-decoration: none;
}
