body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	overflow-x: hidden;
	display: inline-block;
}

a {
	color: inherit;
	text-decoration: none;
}

::-webkit-scrollbar { 
    display: none; 
}

h2 {
	text-decoration: underline;
}

#front {
	position: relative;
	background-color: #000;
	height: 100vh;
	color: #fff;
	text-align: center;
}

.title-name {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 4rem;
}

.title-desc {
	display: inline-block;
	position: relative;
	font-size: 3rem;
	top: 50%;
	transform: translateY(-50%);
}

.all-rect {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
 	align-items: center;
 	align-content: flex-start;

 	background-color: #000;
 	height: 100vh;
}

.rect {
	position: relative;
	overflow: hidden;
	height: 26rem;
	width: 17rem;
	background-color: #fff;
	border-radius: 20px;
	font-size: 1.2rem;
	padding: 2rem;
	margin: 2rem ;
}

.rect-in {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.middle {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
 	align-items: center;
 	align-content: flex-start;

	height: 100vh;
	background: linear-gradient(#000, #fff 100%);
	padding: 3rem;
}

.logo {
	width: 11rem;
	height: 11rem;
	overflow: hidden;
	padding: 2rem;

	-webkit-filter: grayscale(55%);
    filter: grayscale(55%);
}

.html {
	position: relative;
	width: 100%;
}

.css {
	position: relative;
	width: 70%;
}

.js {
	position: relative;
	width: 100%;
}

.python {
	position: relative;
	width: 180%;
	left: -35%;
}

.java {
	position: relative;
	width: 100%;
}

.bolded {
	font-weight: 900;
}

.resize-img {
	position: relative;
	width: 170%;
	top: -25%;
	left: -20%;
}

.black-white {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#end {
	background: #fff;
	height: 100%;
}

.container {
	padding: 1.5rem 8rem;
	margin-bottom: 3rem;
}

.block {
	display: flex;
	margin-bottom: 2rem;
}

.block > div {
	flex: 1;
}

.block-img {
	overflow: hidden;
	width: 40vw;
	height: 40vh;
}

.resize-img-2 {
	position: relative;
	width: 100%;
}

.creds-title {
	text-align: center;
	font-size: 3rem;

  	animation: in 3s ease-out forwards;
  	animation-delay: 1s;
  	opacity: 0;
}

.creds-text {
	text-align: center;
	font-size: 2rem;

	animation: in 8s ease-out forwards;
  	animation-delay: 2s;
  	opacity: 0;
}

.creds-text > span > a {
	text-decoration: underline;
}

@keyframes in{
	0% {
    	letter-spacing: -17px;
    	opacity: 0;
  	}

  	30%	{
    	letter-spacing: 4px;
    	opacity: 1;
  	}

  	100% {
    	letter-spacing: 6px;
    	opacity: 1;
  	}
}

@media all and (max-width: 768px) {
	.all-rect {
		height: 100%;
		flex-direction: column;
		justify-content: space-around;
	}

	.middle {
		height: 100%;
		flex-direction: column;
		justify-content: space-around;
	}

	.logo {
		flex: 0 0 100%;
	}

	.block {
		flex-direction: column;
		justify-content: space-around;
	}

	.block > div {
		flex: 0 0 100%;
	}
}
