<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">

    <script src="./libraries/baffle.min.js" type="text/javascript"></script>
    <script src="./libraries/scrollreveal.js" type="text/javascript"></script>
</head>

<body>
    <div class="all-rect">
        <div class="rect left">
            <h2>EDUCATION</h2>
            <div class="rect-in">
                <span class="bolded">Universitas Indonesia</span>
                <br>
                <span> Computer Science</span>
                <br>
                <span>(2017 - present)</span>
                <br><br>

                <span class="bolded">SMA Negeri 1 KOTA JAMBI</span>
                <br>
                <span>(2014 - 2017)</span>
                <br><br>

                <span class="bolded">SMP Negeri 7 KOTA JAMBI</span>
                <br>
                <span> (2011 - 2014)</span>
            </div>

        </div>

        <div class="rect center">

            <img class="resize-img black-white" src="./images/img1.jpg">

        </div>

        <div class="rect right">
            <h2>My Profile</h2>
            <div class="rect-in">
                <span class="bolded">Female</span>
                <br><br>
                <span><span class="bolded">19 years</span> old</span>
                <br><br>
                <span>Based in</span><span class="bolded"> Depok, Indonesia.</span>
                <br><br>
                <span>+6285384255740.</span>
                <br><br>
                <span>natasyaakhda@gmail.com.</span>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="logo">
            <img class="html" src="./images/img2.jpg">
        </div>
        <div class="logo">
            <img class="css" src="./images/img3.jpg">
        </div>
        <div class="logo">
            <img class="js" src="./images/img4.jpg">
        </div>
        <div class="logo">
            <img class="python" src="./images/img5.jpg">
        </div>
        <div class="logo">
            <img class="java" src="./images/img6.jpg">
        </div>
    </div>

    <div id="end">
        <div class="container">
            <h2 class="block-title">EXPERIENCE</h2>
            <div class="block">
                <div class="block-text">
                    <h3>InstructorHQ, UI/UX Designer</h3>
                    <span>Design and develop an online courses website</span>
                    <br><br>
                    <span>Project is still ongoing and not yet deployed</span>
                </div>
                <div class="block-img">
                    <img class="resize-img-2" src="./images/img7.jpg">
                </div>
            </div>

            <div class="block">
                <div class="block-text">
                    <h3>Sociolla, UI/UX Designer</h3>
                    <span>Design and develop a beauty fashion website</span>
                    <br><br>
                    <span>Project is already launch now</span>
                </div>
                <div class="block-img">
                    <img class="resize-img-2" src="./images/img8.jpg">
                </div>
            </div>
        </div>

        <div class="container creds">
            <h3 class="creds-title">LIKE WHAT YOU SEE?</h3>
            <div class="creds-text">
                <span>contact me through my <a href="https://www.linkedin.com/in/natasya-meidiana-06097614b/">linkedin</a> account</span>
            </div>
        </div>
    </div>


    <script>

        window.baffle;

        const name = baffle('.title-name', {
            characters: ' QWERTYUIOPASDFGHJKLZXCVBNM<>?":{}[]!+1234567890-=',
            speed: 40
        });

        const desc = baffle('.title-desc', {
            characters: ' QWERTYUIOPASDFGHJKLZXCVBNM<>?":{}[]!+1234567890-=',
            speed: 40
        });

        name.start();
        desc.start();
        name.reveal(1500);
        desc.reveal(1500,1000);

        window.sr = ScrollReveal();

        sr.reveal('.left', {duration: 1200});
        sr.reveal('.right', {duration: 1800});
        sr.reveal('.center', {duration: 2600});

        sr.reveal('.logo-title', {duration: 800})
        sr.reveal('.html', {duration: 800});
        sr.reveal('.css', {duration: 1200});
        sr.reveal('.js', {duration: 1600});
        sr.reveal('.python', {duration: 2000});
        sr.reveal('.java', {duration: 2400});

        sr.reveal('.block-title', {duration: 1200});
        sr.reveal('.block', {duration: 1000});

        sr.reveal('.creds');

    </script>
</body>
</html>